<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= asset_path 'archerbanner1.jpg' %>);">
  <div class="banner-content">
    <h1>Mister Mixology</h1>
    <p>Find Your Next Drink</p>
    <a href="#main-body" class="btn btn-primary btn-lg">View Cocktails</a>
  </div>
</div>

<div class="container card-body" id="main-body">
 <div class="row">
  <% @cocktails.each do |cocktail| %>
   <div class="col-xs-12 col-sm-4">
     <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= asset_path 'cocktail1.jpeg' %>);">
       <div class="card-category">Popular</div>
       <div class="card-description">
         <h2><%= cocktail.name %></h2>
         <p>
          <% cocktail.doses.each do |dose| %>
          <%= dose.ingredient.name.capitalize %>
          <% end %>

          </p>
       </div>
       <img class="card-user" <%= image_tag "archer1.jpeg", alt: "alttext" %>>
       <%= link_to "", cocktail_path(cocktail), :class => "card-link"  %>
     </div>
   </div>
   <% end %>
 </div>
</div>






<button class="btn"><%= link_to "Create A New Cocktail", new_cocktail_path  %></button>

